<p><strong>Company:</strong> <%= @application.company %></p>
<p><strong>Position:</strong> <%= @application.position %></p>
<p><strong>Remote:</strong> <%= @application.remote %></p>

<%= link_to 'Back', applications_path %>
