// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  border: 1px solid #CCCCCC;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

li {
  display: flex;
  flex-direction: row;
  align-content: normal;
  margin: 0.2rem 0 0.2rem 0;
  padding: 0;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;

  span {
    margin: 0.3rem;
    padding: 0.2rem;
    display: block;
    vertical-align: middle;

    &.position {
      flex-basis: 30%;
      flex-grow: 2;
    }

    &.company {
      flex-basis: 30%;
      flex-grow: 2;
    }

    &.remote {
      flex-basis: 20%;
      flex-grow: 1;
    }

    &.actions {
      flex-basis: 20%;
      flex-grow: 1;
    }
  }


}