// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li {
  span {
    &.position {
      flex-basis: 30%;
      flex-grow: 2;
    }

    &.company {
      flex-basis: 30%;
      flex-grow: 2;
    }

    &.remote {
      flex-basis: 10%;
      flex-grow: 1;
    }

    &.agency {
      flex-basis: 10%;
      flex-grow: 1;
    }

    &.actions {
      flex-basis: 20%;
      flex-grow: 1;

      * {
        margin: 0 0.2em;
      }
    }
  }


}